<phpunit colors="true" bootstrap="./vendor/hh_autoload.php">
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite>
      <directory>test</directory>
    </testsuite>
  </testsuites>
</phpunit>
